<div id="content" class="container_12">
	<div id="main" class="grid_9 box">	
		<div id="main-text">
			<div class="notice"><%= notice %></div>
			<div class="alert"><%= alert %></div>	
			<%= yield %>
		</div>
	</div>

	<div id="sidebar" class="grid_3">
		<div id="sidebar-text">
			sidebar goes here
		</div>
	</div>
</div>
