<div id="header" class="container_12">

	<div id="title" class="grid_8">
		<%= image_tag "scirate.png", :alt => "SciRate.com"  %>
	</div>

	<div id="login" class="grid_4">
		<nav>
			<ul>
    		<li><%= link_to "Home", '' %></li>
      	<li><%= link_to "Sign in", '#' %></li>
    	</ul>
		</nav>
	</div>

</div>
